<p>Olá <%= @client.fullName %>,</p>

<p>Sua conta na biblioteca foi criada com sucesso.</p>
<p>Sua senha temporária é: <strong><%= @password %></strong></p>

<p>Por favor, altere sua senha ao fazer o login.</p>
